::ng-deep .content {
  position: relative;
  box-shadow: var(--card-shadows);

  h1,
  h2 {
    margin-top: 2em;
  }

  video {
    max-width: 100% !important;
    display: block !important;
    margin: 2em auto !important;
    border: 1px solid #000;
  }
}

.banner {
  background: linear-gradient(-0deg, var(--ui-01c), var(--ui-01d));
  min-height: 765px;
  position: relative;
  overflow: hidden;
  border-bottom: var(--banner-border);

  .banner-content-container {
    position: absolute;
    width: 100%;
    margin-top: 112px;
    @media screen and (min-width: 1100px) {
      margin-top: 200px;
    }
  }

  #solo-logo {
    width: 175px;
    margin: auto;
    display: block;

    @media screen and (min-width: 1100px) {
      display: none;
    }
  }
  #inline-logo-container {
    display: none;
    width: 0.74em;
    margin-right: 0.1em;
    @media screen and (min-width: 1100px) {
      display: inline-block;
    }

    #inline-logo {
      display: inline-block;
      max-height: 0.78em;
      margin-bottom: -4px;
    }
  }

  #stateadapt {
    margin-top: 0px !important;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    @media screen and (min-width: 1100px) {
      font-size: 130px;
    }

    #state {
      color: darkturquoise;
    }
    #adapt {
    }
  }

  #tagline {
    text-align: center;
    font-size: 30px;
    line-height: 1.6em;
    margin-top: 0.6em;
    @media screen and (min-width: 1100px) {
      font-size: 46px;
    }

    #tagline-break {
      @media screen and (min-width: 1100px) {
        display: none;
      }
    }
  }

  .getting-started-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    @media screen and (min-width: 1100px) {
      margin-top: 110px;
    }

    a {
      height: 0;
      font-size: 29px;
      font-weight: 700;
      @media screen and (min-width: 1100px) {
        font-size: 33px;
      }
    }
  }
}
