// @import "@carbon/themes/scss/themes";
@import '../../../../../styles/theme';

$logo-z: 1000;

@mixin styling($logo-width) {
  $logo-top: $logo-width * 3/5;
  $logo-left: $logo-width/6;
  $logo-shadow-width: 2 * $logo-width/3;

  $button-top: $logo-width * 2;
  $button-font-size: $logo-width / 7;
  $button-padding: $logo-width * 5/32 * 7/12;
  $button-height: $button-font-size * 1.4 + $button-padding * 2; // Not used on button

  .banner {
    background-color: map-get($carbon--theme, ui-01b);
    min-height: $logo-width * 4;
    height: $logo-width * 4;
    position: relative;
    overflow: hidden;
    border-bottom: 8px solid map-get($carbon--theme, brand-01);
  }

  .banner-content-container {
    position: absolute;
    width: 100%;
    margin-top: $logo-top;

    .logo-line {
      position: absolute;
      margin: auto;
      width: $logo-width * 45/8;
      left: 0;
      right: 0;

      h1 {
        margin-top: $logo-width/12;
        font-size: $logo-width * 7/8;
        font-weight: 500;
        color: map-get($carbon--theme, brand-01);
        float: left;
      }
      #state {
        margin-left: $logo-left + $logo-width * 1.05;
      }
      #main-logo {
        position: absolute;
        display: block;
        left: $logo-left;
        width: $logo-width;
        z-index: $logo-z;
      }
      #main-logo-shadow {
        position: absolute;
        left: $logo-left + $logo-width/2 - $logo-shadow-width/2;
        top: $logo-width/4;
        width: $logo-shadow-width;
        padding-top: $logo-shadow-width;
        z-index: $logo-z - 1;
        background-color: transparentize($color: #000, $amount: 0.75);
        box-shadow: 0 0.5vw 1.5vw 1.5vw
          transparentize($color: #000, $amount: 0.75);
        border-radius: 50%;
      }
    }

    h3 {
      color: map-get($carbon--theme, brand-01);
      position: absolute;
      margin-top: $logo-width * 1.3;
      width: 100%;
      font-size: $logo-width * 5/16;
      text-align: center;
      a {
        color: map-get($carbon--theme, text-01);
        text-decoration: none;
      }
      .bullet-adapter {
        stroke: map-get($carbon--theme, brand-01);
        fill: map-get($carbon--theme, brand-01);
        opacity: 1;
        width: 0.3em;
        height: 0.3em;
        margin: 0 0.3em 0.2em;
        .adapter {
          opacity: 1;
        }
      }
    }
    button {
      margin-top: $button-top;
      text-align: center;
      font-size: $button-font-size;
      padding: $button-padding;
      min-height: 0;
    }
    a.getting-started {
      display: block;
      text-align: center;
      &:link,
      &:visited {
        #get-started {
          background-color: map-get($carbon--theme, accent-01);
        }
      }
      &:hover {
        #get-started {
          background-color: map-get($carbon--theme, accent-02);
        }
      }
    }
  }
}

@include styling($logo-width: 14vw);
@media screen and (min-width: $medium-screen) {
  @include styling($logo-width: 11vw);
}
@media screen and (min-width: $large-screen) {
  @include styling($logo-width: 9vw);
}
