::ng-deep .content {
  position: relative;
  box-shadow: var(--card-shadows);

  h1,
  h2 {
    margin-top: 2em;
  }

  video {
    min-height: 300px; // Reduce the jumpiness when switching frameworks
    width: 100% !important;
    display: block !important;
    margin: 2em auto !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

::ng-deep {
  .framework-container,
  .feature-container {
    & * {
      transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }
    &:hover * {
      .primary-fill,
      .accent-fill,
      .tertiary-fill,
      .ng-st0,
      .ng-st1,
      .r-st0,
      .sv-st0 {
        fill: var(--interactive-01) !important;
      }
      .solidjs {
        &-a,
        &-b {
          fill: var(--interactive-01b) !important;
        }
        &-c,
        &-d {
          fill: var(--interactive-01) !important;
        }
      }
      .primary-stroke,
      .accent-stroke,
      .tertiary-stroke,
      .r-st1 {
        stroke: var(--interactive-01) !important;
      }
    }
  }

  .primary-fill {
    fill: var(--brand-01) !important;
  }
  .primary-stroke {
    stroke: var(--brand-01) !important;
  }
  .accent-fill {
    fill: #ff4500 !important;
  }
  .accent-stroke {
    stroke: #ff4500 !important;
  }
  .tertiary-fill {
    fill: #800080 !important;
  }
  .tertiary-stroke {
    stroke: #800080 !important;
  }
  .mono {
    .accent-fill,
    .tertiary-fill,
    .ng-st0,
    .ng-st1,
    .r-st0,
    .sv-st0 {
      fill: var(--brand-01) !important;
    }
    .solidjs {
      &-a,
      &-b {
        fill: #4ddddf !important;
      }
      &-c,
      &-d {
        fill: var(--brand-01) !important;
      }
    }
    .accent-stroke,
    .tertiary-stroke,
    .r-st1 {
      stroke: var(--brand-01) !important;
    }
  }
}

.banner {
  background: linear-gradient(-0deg, var(--ui-01c), var(--ui-01d));
  min-height: 800px;
  // min-height: 1365px;
  position: relative;
  overflow: hidden;
  border-bottom: var(--banner-border);

  .banner-content-container {
    position: absolute;
    width: 100%;
    margin-top: 85px;
    @media screen and (min-width: 1100px) {
      margin-top: 140px;
    }
  }

  #solo-logo {
    width: 175px;
    margin: auto;
    display: block;

    @media screen and (min-width: 1100px) {
      display: none;
    }
  }
  #inline-logo-container {
    display: none;
    width: 0.74em;
    margin-right: 0.1em;
    @media screen and (min-width: 1100px) {
      display: inline-block;
    }

    #inline-logo {
      display: inline-block;
      max-height: 0.78em;
      margin-bottom: -4px;
    }
  }

  #stateadapt {
    margin-top: 0px !important;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    @media screen and (min-width: 1100px) {
      font-size: 130px;
    }

    #state {
      color: darkturquoise;
    }
    // #adapt {
    // }
  }

  #tagline {
    text-align: center;
    font-size: 30px;
    line-height: 1.6em;
    margin-top: 0.6em !important;
    @media screen and (min-width: 1100px) {
      font-size: 46px;
    }

    #tagline-break {
      @media screen and (min-width: 1100px) {
        display: none;
      }
    }
  }
}

.frameworks-container {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 35px auto;
  @media screen and (min-width: 1100px) {
    margin-top: 55px;
  }

  .framework-container {
    display: flex;
    justify-content: center;
    width: 80px; // If add Vue.js, keep this at 80px
    &:hover {
      transform: scale(1.02);
    }
    &.active {
      border-bottom: 5px solid var(--link-01);
    }
  }

  a {
    svg {
      width: 60px;
    }
  }
}

.features-section {
  position: relative;
  margin-top: -200px;
  padding: 0 10px 80px;
  background: linear-gradient(
    180deg,
    #0000,
    var(--ui-01c) 10%,
    var(--ui-01c) 100%
  );
  @media screen and (min-width: 1100px) {
    background: linear-gradient(
      180deg,
      #0000,
      var(--ui-01c) 15%,
      var(--ui-01c) 100%
    );
  }
}

.features-container {
  display: grid;
  max-width: 1800px;
  margin: auto;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(350px, 480px));
  grid-column-gap: 10px;

  a {
    color: var(--text-01);
    text-decoration: none;
    &:hover {
      color: var(--link-01) !important;
    }
  }

  .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-top: 50px;
    text-align: center;
    &:hover {
      transform: scale(1.02);
    }

    @media screen and (min-width: 800px) {
      margin-top: 80px;
      text-align: left;
    }
    @media screen and (min-width: 800px) {
      flex-direction: row;
    }

    .feature-icon {
      height: 110px;
      min-width: 110px; // For SVG so text doesn't squish it
    }

    .feature-text {
      display: flex;
      flex-direction: column;
      margin: 12px 0 0 0;
      @media screen and (min-width: 800px) {
        margin: 0 0 0 12px;
      }

      .feature-title {
        margin-top: 2px !important;
        font-weight: 700;
        white-space: nowrap;
        // @media screen and (min-width: 800px) {
        //   margin-top: 2px !important;
        // }
      }

      .feature-description {
        font-size: 16px;
        margin-top: 4px;
        line-height: 1.4em;
        font-weight: 400;
      }
    }
  }
}
