:host {
  display: block;
  font-family: sans-serif;
  margin: 50px auto;
}

::ng-deep {
  [aria-expanded='false'] {
    opacity: 0.5;
  }
}

a.brand {
  font-size: 16px;
  img {
    vertical-align: middle;
    height: 15px;
    margin: -3px 3px 0px;
  }
  // .logo-state {
  //   color: var(--theme-01);
  // }
  .logo-adapt {
    color: var(--text-04);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: block;
  position: relative;
  padding: 0 0px;
  width: 100%;
  margin-left: 0;
  margin-top: -2px;
  @media screen and (min-width: 800px) {
    &.squished {
      width: calc(100% - 16rem);
      margin-left: 16rem;
    }
  }
}

ibm-header-global button {
  background-color: transparent;

  ::ng-deep {
    svg {
      fill: var(--text-04);
    }
  }
}
