@import '../../../../styles/theme';

:host {
  display: block;
  font-family: sans-serif;
  margin: 50px auto;
}

a.brand {
  font-size: 16px;
  img {
    vertical-align: middle;
    height: 15px;
    margin: -3px 3px 0px;
  }
  .logo-state {
    color: map-get($map: $carbon--theme, $key: brand-01);
  }
  .logo-adapt {
    color: map-get($map: $carbon--theme, $key: text-01);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: block;
  position: relative;
  padding: 0 0px;
  width: 100%;
  margin-left: 0;
  margin-top: -2px;
  @media screen and (min-width: 800px) {
    &.squished {
      width: calc(100% - 16rem);
      margin-left: 16rem;
    }
  }
}
