@use 'sass:map';
@import '@carbon/themes/scss/themes';

$customizations: (
  accent-01: #{'var(--accent-01)'},
  accent-02: #{'var(--accent-02)'},
  interactive-01: #{'var(--interactive-01)'},
  interactive-02: #{'var(--interactive-02)'},
  interactive-03: #{'var(--interactive-03)'},
  interactive-04: #{'var(--interactive-04)'},
  ui-background: #{'var(--ui-background)'},
  ui-01: #{'var(--ui-01)'},
  ui-01b: #{'var(--ui-01b)'},
  ui-01c: #{'var(--ui-01c)'},
  ui-01d: #{'var(--ui-01d)'},
  ui-02: #{'var(--ui-02)'},
  ui-03: #{'var(--ui-03)'},
  ui-04: #{'var(--ui-04)'},
  ui-05: #{'var(--ui-05)'},
  text-01: #{'var(--text-01)'},
  text-02: #{'var(--text-02)'},
  text-03: #{'var(--text-03)'},
  text-04: #{'var(--text-04)'},
  text-05: #{'var(--text-05)'},
  text-error: #{'var(--text-error)'},
  icon-01: #{'var(--icon-01)'},
  icon-02: #{'var(--icon-02)'},
  icon-03: #{'var(--icon-03)'},
  link-01: #{'var(--link-01)'},
  link-02: #{'var(--link-02)'},
  inverse-link: #{'var(--inverse-link)'},
  field-01: #{'var(--field-01)'},
  field-02: #{'var(--field-02)'},
  inverse-01: #{'var(--inverse-01)'},
  inverse-02: #{'var(--inverse-02)'},
  support-01: #{'var(--support-01)'},
  support-02: #{'var(--support-02)'},
  support-03: #{'var(--support-03)'},
  support-04: #{'var(--support-04)'},
  inverse-support-01: #{'var(--inverse-support-01)'},
  inverse-support-02: #{'var(--inverse-support-02)'},
  inverse-support-03: #{'var(--inverse-support-03)'},
  inverse-support-04: #{'var(--inverse-support-04)'},
  overlay-01: #{'var(--overlay-01)'},
  danger-01: #{'var(--danger-01)'},
  danger-02: #{'var(--danger-02)'},
  focus: #{'var(--focus)'},
  inverse-focus-ui: #{'var(--inverse-focus-ui)'},
  hover-primary: #{'var(--hover-primary)'},
  active-primary: #{'var(--active-primary)'},
  hover-primary-text: #{'var(--hover-primary-text)'},
  hover-secondary: #{'var(--hover-secondary)'},
  active-secondary: #{'var(--active-secondary)'},
  hover-tertiary: #{'var(--hover-tertiary)'},
  active-tertiary: #{'var(--active-tertiary)'},
  hover-ui: #{'var(--hover-ui)'},
  hover-light-ui: #{'var(--hover-light-ui)'},
  active-ui: #{'var(--active-ui)'},
  active-light-ui: #{'var(--active-light-ui)'},
  selected-ui: #{'var(--selected-ui)'},
  selected-light-ui: #{'var(--selected-light-ui)'},
  inverse-hover-ui: #{'var(--inverse-hover-ui)'},
  hover-selected-ui: #{'var(--hover-selected-ui)'},
  hover-danger: #{'var(--hover-danger)'},
  active-danger: #{'var(--active-danger)'},
  hover-row: #{'var(--hover-row)'},
  visited-link: #{'var(--visited-link)'},
  disabled-01: #{'var(--disabled-01)'},
  disabled-02: #{'var(--disabled-02)'},
  disabled-03: #{'var(--disabled-03)'},
  highlight: #{'var(--highlight)'},
  decorative-01: #{'var(--decorative-01)'},
  button-separator: #{'var(--button-separator)'},
  skeleton-01: #{'var(--skeleton-01)'},
  skeleton-02: #{'var(--skeleton-02)'},
  brand-01: #{'var(--brand-01)'},
  brand-02: #{'var(--brand-02)'},
  brand-03: #{'var(--brand-03)'},
  active-01: #{'var(--active-01)'},
  hover-field: #{'var(--hover-field)'},
  danger: #{'var(--danger)'},
  // caption-01: (font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // label-01: (font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // helper-text-01: (font-size: 0.75rem,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // body-short-01: (font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // body-long-01: (font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.43,
  // letter-spacing: 0.16px),
  // body-short-02: (font-size: 1rem,
  // font-weight: 400,
  // line-height: 1.375,
  // letter-spacing: 0),
  // body-long-02: (font-size: 1rem,
  // font-weight: 400,
  // line-height: 1.5,
  // letter-spacing: 0),
  // code-01: (font-family: 'IBM Plex Mono',
  // 'Menlo',
  // 'DejaVu Sans Mono',
  // 'Bitstream Vera Sans Mono',
  // Courier,
  // monospace,
  // font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // code-02: (font-family: 'IBM Plex Mono',
  // 'Menlo',
  // 'DejaVu Sans Mono',
  // 'Bitstream Vera Sans Mono',
  // Courier,
  // monospace,
  // font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.43,
  // letter-spacing: 0.32px),
  // heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // productive-heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.375,
  // letter-spacing: 0),
  // productive-heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.375,
  // letter-spacing: 0),
  // productive-heading-03: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.4,
  // letter-spacing: 0),
  // productive-heading-04: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0),
  // productive-heading-05: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0),
  // productive-heading-06: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.199,
  // letter-spacing: 0),
  // productive-heading-07: (font-size: 3.375rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0),
  // expressive-heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.25,
  // letter-spacing: 0.16px),
  // expressive-heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.5,
  // letter-spacing: 0),
  // expressive-heading-03: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.4,
  // letter-spacing: 0,
  // breakpoints: (xlg: (font-size: 1.25rem,
  // line-height: 1.25),
  // max: (font-size: 1.5rem,
  // line-height: 1.334))),
  // expressive-heading-04: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0,
  // breakpoints: (xlg: (font-size: 1.75rem,
  // line-height: 1.25),
  // max: (font-size: 2rem))),
  // expressive-heading-05: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // font-weight: 300,
  // line-height: 1.22,
  // letter-spacing: 0),
  // lg: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0),
  // xlg: (font-size: 3rem,
  // font-weight: 300,
  // line-height: 1.17,
  // letter-spacing: 0),
  // max: (font-size: 3.75rem,
  // font-weight: 300,
  // letter-spacing: 0))),
  // expressive-heading-06: (font-size: 2rem,
  // font-weight: 600,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // font-weight: 600,
  // line-height: 1.22,
  // letter-spacing: 0),
  // lg: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0),
  // xlg: (font-size: 3rem,
  // font-weight: 600,
  // line-height: 1.17,
  // letter-spacing: 0),
  // max: (font-size: 3.75rem,
  // font-weight: 600,
  // letter-spacing: 0))),
  // expressive-paragraph-01: (font-size: 1.5rem,
  // font-weight: 300,
  // line-height: 1.334,
  // letter-spacing: 0,
  // breakpoints: (lg: (font-size: 1.75rem,
  // line-height: 1.29),
  // max: (font-size: 2rem,
  // line-height: 1.25))),
  // quotation-01: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.3,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 1.25rem,
  // font-weight: 400,
  // letter-spacing: 0),
  // lg: (font-size: 1.5rem,
  // font-weight: 400,
  // line-height: 1.334,
  // letter-spacing: 0),
  // xlg: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0),
  // max: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0))),
  // quotation-02: (font-size: 2rem,
  // font-weight: 300,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // line-height: 1.22),
  // lg: (font-size: 2.625rem,
  // line-height: 1.19),
  // xlg: (font-size: 3rem,
  // line-height: 1.17),
  // max: (font-size: 3.75rem))),
  // display-01: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.625rem),
  // lg: (font-size: 3.375rem),
  // xlg: (font-size: 3.75rem,
  // line-height: 1.17),
  // max: (font-size: 4.75rem,
  // line-height: 1.13))),
  // display-02: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.625rem),
  // lg: (font-size: 3.375rem),
  // xlg: (font-size: 3.75rem,
  // line-height: 1.16),
  // max: (font-size: 4.75rem,
  // line-height: 1.13))),
  // display-03: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 4.25rem,
  // line-height: 1.15),
  // lg: (font-size: 5.75rem,
  // line-height: 1.11,
  // letter-spacing: -0.64px),
  // xlg: (font-size: 7.625rem,
  // line-height: 1.07),
  // max: (font-size: 9.75rem,
  // line-height: 1.05,
  // letter-spacing: -0.96px))),
  // display-04: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 4.25rem,
  // line-height: 1.15),
  // lg: (font-size: 5.75rem,
  // line-height: 1.11,
  // letter-spacing: -0.64px),
  // xlg: (font-size: 7.625rem,
  // line-height: 1.07,
  // letter-spacing: -0.64px),
  // max: (font-size: 9.75rem,
  // line-height: 1.05,
  // letter-spacing: -0.96px))),
  // spacing-01: 0.125rem,
  // spacing-02: 0.25rem,
  // spacing-03: 0.5rem,
  // spacing-04: 0.75rem,
  // spacing-05: 1rem,
  // spacing-06: 1.5rem,
  // spacing-07: 2rem,
  // spacing-08: 2.5rem,
  // spacing-09: 3rem,
  // spacing-10: 4rem,
  // spacing-11: 5rem,
  // spacing-12: 6rem,
  // fluid-spacing-01: 0,
  // fluid-spacing-02: 2vw,
  // fluid-spacing-03: 5vw,
  // fluid-spacing-04: 10vw,
  // layout-01: 1rem,
  // layout-02: 1.5rem,
  // layout-03: 2rem,
  // layout-04: 3rem,
  // layout-05: 4rem,
  // layout-06: 6rem,
  // layout-07: 10rem,
  // container-01: 1.5rem,
  // container-02: 2rem,
  // container-03: 2.5rem,
  // container-04: 3rem,
  // container-05: 4rem,
  // icon-size-01: 1rem,
  // icon-size-02: 1.25rem,,,,,,,,,,,,,,,,,,,,,
);

$carbon--theme: map.merge($carbon--theme--g90, $customizations);
@include carbon--theme();

// @import '~carbon-components/scss/globals/scss/styles.scss';
// Why import EVERY style up front? Will import that in the lazy-loaded module that uses more components
// Base styles—import only once
@import '~carbon-components/scss/globals/scss/feature-flags';
@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/theme';
@import '~carbon-components/scss/globals/scss/mixins';
@import '~carbon-components/scss/globals/scss/layout';
@import '~carbon-components/scss/globals/scss/layer';
@import '~carbon-components/scss/globals/scss/spacing';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/css--reset';
@import '~carbon-components/scss/globals/scss/css--font-face';
@import '~carbon-components/scss/globals/scss/css--helpers';
@import '~carbon-components/scss/globals/scss/css--body';
@import '~carbon-components/scss/globals/grid/grid';
