@import './theme';

code[class*='language-diff-'] {
  // > *:nth-child(1)
}

code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: map-get($carbon--theme, ui-01b);
  border-radius: 0;
  // border-left: 3px solid map-get($carbon--theme, brand-01);

  margin-bottom: 1.5em;

  span.highlighted {
    background-color: map-get($map: $carbon--theme, $key: brand-01);
  }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: map-get($carbon--theme, accent-01);
  // font-weight: bold;
}

.token.deleted {
  background-color: #ff00001a;
}

.token.deleted,
.token.inserted {
  display: block;
  // margin: 0 -1em;
  // padding: 0 1em;
}

.token.boolean,
.token.number {
  color: map-get($carbon--theme, accent-02);
  font-weight: bold;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: map-get($carbon--theme, brand-01);
  // font-weight: bold;
}

.token.inserted {
  background-color: #00ff801a;
}

span.token.prefix.inserted,
span.token.prefix.deleted {
  display: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.class-name {
  color: map-get($carbon--theme, accent-01);
  // font-weight: bold;
}

.token.function {
  color: orange;
}

.token.generic {
  color: rgba(0, 81, 82, 0.7);
}

.token.keyword {
  color: #90f0ff;
  // font-weight: bold;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
