code {
  background-color: var(--ui-01b);
}

code[class*='language-diff-'] {
  // > *:nth-child(1)
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--text-01);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--ui-01b);
  border-radius: 0;

  margin-bottom: 1.5em;

  span.highlighted {
    background-color: var(--brand-01);
  }
}

pre {
  .added {
    color: var(--brand-01);
    // font-weight: bold;
  }
  .removed {
    color: var(--accent-01-alpha);
    text-decoration: line-through;
    // font-weight: bold;
  }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.token.punctuation {
  color: var(--text-01);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: var(--accent-01-alpha);
}

.token.deleted {
  background-color: var(--code-deleted);
}

.token.deleted,
.token.inserted {
  display: block;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  // margin: 0 -1em;
  // padding: 0 1em;
}

.token.boolean,
.token.number {
  color: var(--accent-02);
  font-weight: bold;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: var(--brand-01);
  font-weight: bold;
}

.token.inserted {
  background-color: var(--code-inserted);
}

span.token.prefix.inserted,
span.token.prefix.deleted {
  display: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--text-01);
}

.token.atrule,
.token.attr-value,
.token.class-name {
  color: var(--accent-01-alpha);
  // font-weight: var(--code-bright-weight);
  // font-weight: bold;
}

.token.function {
  color: orange;
  color: var(--accent-01-alpha);
  // font-weight: var(--code-bright-weight);
}

.token.generic {
  color: var(--code-generic);
}

.token.keyword {
  color: var(--accent-02);
  font-weight: var(--code-dark-weight);
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
