h1,
h2,
h3,
h4,
h5 {
  margin-top: 1.5em !important;
}

blockquote {
  quotes: none;
  margin: 2em;
  border-left: 6px solid #8884;
  padding-left: 1em;
}

p,
ul {
  margin-top: 0.6em !important;
  &.cds--list--nested,
  &[role='menu'] {
    margin-top: 0 !important;
  }
}
