@use 'sass:map';
@import '@carbon/themes/scss/themes';

$customizations: (
  accent-01: #e01d84,
  accent-02: #5d2f88,
  interactive-01: #00b8a4,
  // interactive-02: #6f6f6f,
  // interactive-03: #ffffff,
  interactive-04: #00b8a4,
  // ui-background: #262626,
  // ui-01: #393939,
  ui-01b: #1a1a1a,
  // ui-02: #525252,
  // ui-03: #525252,
  // ui-04: #8d8d8d,
  // ui-05: #f4f4f4,
  // text-01: #f4f4f4,
  // text-02: #c6c6c6,
  // text-03: #6f6f6f,
  // text-04: #ffffff,
  // text-05: #8d8d8d,
  // text-error: #ffb3b8,
  // icon-01: #f4f4f4,
  // icon-02: #c6c6c6,
  // icon-03: #ffffff,
  link-01: #00b8a4,
  // link-02: #a6c8ff,
  inverse-link: #00b8a4,
  // field-01: #393939,
  // field-02: #525252,
  // inverse-01: #161616,
  // inverse-02: #f4f4f4,
  // support-01: #ff8389,
  // support-02: #42be65,
  // support-03: #f1c21b,
  // support-04: #4589ff,
  // inverse-support-01: #da1e28,
  // inverse-support-02: #24a148,
  // inverse-support-03: #f1c21b,
  inverse-support-04: #00b8a4,
  overlay-01: rgba(22, 22, 22, 0.7),
  // danger-01: #da1e28,
  // danger-02: #ff8389,
  // focus: #ffffff,
  inverse-focus-ui: #00b8a4,
  hover-primary: #00aa9c,
  active-primary: #008078,
  // hover-primary-text: #a6c8ff,
  // hover-secondary: #606060,
  // active-secondary: #393939,
  // hover-tertiary: #f4f4f4,
  // active-tertiary: #c6c6c6,
  // hover-ui: #4c4c4c,
  // hover-light-ui: #656565,
  // active-ui: #6f6f6f,
  // active-light-ui: #8d8d8d,
  // selected-ui: #525252,
  // selected-light-ui: #6f6f6f,
  // inverse-hover-ui: #e5e5e5,
  // hover-selected-ui: #656565,
  // hover-danger: #b81921,
  // active-danger: #750e13,
  // hover-row: #4c4c4c,
  // visited-link: #be95ff,
  // disabled-01: #393939,
  // disabled-02: #6f6f6f,
  // disabled-03: #a8a8a8,
  // highlight: #0043ce,
  // decorative-01: #6f6f6f,
  // button-separator: #161616,
  // skeleton-01: #353535,
  // skeleton-02: #525252,
  brand-01: #00b8a4,
  // brand-02: #6f6f6f,
  // brand-03: #ffffff,
  // active-01: #6f6f6f,
  // hover-field: #4c4c4c,
  // danger: #da1e28,
  // caption-01: (font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // label-01: (font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // helper-text-01: (font-size: 0.75rem,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // body-short-01: (font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // body-long-01: (font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.43,
  // letter-spacing: 0.16px),
  // body-short-02: (font-size: 1rem,
  // font-weight: 400,
  // line-height: 1.375,
  // letter-spacing: 0),
  // body-long-02: (font-size: 1rem,
  // font-weight: 400,
  // line-height: 1.5,
  // letter-spacing: 0),
  // code-01: (font-family: 'IBM Plex Mono',
  // 'Menlo',
  // 'DejaVu Sans Mono',
  // 'Bitstream Vera Sans Mono',
  // Courier,
  // monospace,
  // font-size: 0.75rem,
  // font-weight: 400,
  // line-height: 1.34,
  // letter-spacing: 0.32px),
  // code-02: (font-family: 'IBM Plex Mono',
  // 'Menlo',
  // 'DejaVu Sans Mono',
  // 'Bitstream Vera Sans Mono',
  // Courier,
  // monospace,
  // font-size: 0.875rem,
  // font-weight: 400,
  // line-height: 1.43,
  // letter-spacing: 0.32px),
  // heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // productive-heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.29,
  // letter-spacing: 0.16px),
  // heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.375,
  // letter-spacing: 0),
  // productive-heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.375,
  // letter-spacing: 0),
  // productive-heading-03: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.4,
  // letter-spacing: 0),
  // productive-heading-04: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0),
  // productive-heading-05: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0),
  // productive-heading-06: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.199,
  // letter-spacing: 0),
  // productive-heading-07: (font-size: 3.375rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0),
  // expressive-heading-01: (font-size: 0.875rem,
  // font-weight: 600,
  // line-height: 1.25,
  // letter-spacing: 0.16px),
  // expressive-heading-02: (font-size: 1rem,
  // font-weight: 600,
  // line-height: 1.5,
  // letter-spacing: 0),
  // expressive-heading-03: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.4,
  // letter-spacing: 0,
  // breakpoints: (xlg: (font-size: 1.25rem,
  // line-height: 1.25),
  // max: (font-size: 1.5rem,
  // line-height: 1.334))),
  // expressive-heading-04: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0,
  // breakpoints: (xlg: (font-size: 1.75rem,
  // line-height: 1.25),
  // max: (font-size: 2rem))),
  // expressive-heading-05: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // font-weight: 300,
  // line-height: 1.22,
  // letter-spacing: 0),
  // lg: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0),
  // xlg: (font-size: 3rem,
  // font-weight: 300,
  // line-height: 1.17,
  // letter-spacing: 0),
  // max: (font-size: 3.75rem,
  // font-weight: 300,
  // letter-spacing: 0))),
  // expressive-heading-06: (font-size: 2rem,
  // font-weight: 600,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // font-weight: 600,
  // line-height: 1.22,
  // letter-spacing: 0),
  // lg: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0),
  // xlg: (font-size: 3rem,
  // font-weight: 600,
  // line-height: 1.17,
  // letter-spacing: 0),
  // max: (font-size: 3.75rem,
  // font-weight: 600,
  // letter-spacing: 0))),
  // expressive-paragraph-01: (font-size: 1.5rem,
  // font-weight: 300,
  // line-height: 1.334,
  // letter-spacing: 0,
  // breakpoints: (lg: (font-size: 1.75rem,
  // line-height: 1.29),
  // max: (font-size: 2rem,
  // line-height: 1.25))),
  // quotation-01: (font-size: 1.25rem,
  // font-weight: 400,
  // line-height: 1.3,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 1.25rem,
  // font-weight: 400,
  // letter-spacing: 0),
  // lg: (font-size: 1.5rem,
  // font-weight: 400,
  // line-height: 1.334,
  // letter-spacing: 0),
  // xlg: (font-size: 1.75rem,
  // font-weight: 400,
  // line-height: 1.29,
  // letter-spacing: 0),
  // max: (font-size: 2rem,
  // font-weight: 400,
  // line-height: 1.25,
  // letter-spacing: 0))),
  // quotation-02: (font-size: 2rem,
  // font-weight: 300,
  // line-height: 1.25,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.25rem,
  // line-height: 1.22),
  // lg: (font-size: 2.625rem,
  // line-height: 1.19),
  // xlg: (font-size: 3rem,
  // line-height: 1.17),
  // max: (font-size: 3.75rem))),
  // display-01: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.625rem),
  // lg: (font-size: 3.375rem),
  // xlg: (font-size: 3.75rem,
  // line-height: 1.17),
  // max: (font-size: 4.75rem,
  // line-height: 1.13))),
  // display-02: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 2.625rem),
  // lg: (font-size: 3.375rem),
  // xlg: (font-size: 3.75rem,
  // line-height: 1.16),
  // max: (font-size: 4.75rem,
  // line-height: 1.13))),
  // display-03: (font-size: 2.625rem,
  // font-weight: 300,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 4.25rem,
  // line-height: 1.15),
  // lg: (font-size: 5.75rem,
  // line-height: 1.11,
  // letter-spacing: -0.64px),
  // xlg: (font-size: 7.625rem,
  // line-height: 1.07),
  // max: (font-size: 9.75rem,
  // line-height: 1.05,
  // letter-spacing: -0.96px))),
  // display-04: (font-size: 2.625rem,
  // font-weight: 600,
  // line-height: 1.19,
  // letter-spacing: 0,
  // breakpoints: (md: (font-size: 4.25rem,
  // line-height: 1.15),
  // lg: (font-size: 5.75rem,
  // line-height: 1.11,
  // letter-spacing: -0.64px),
  // xlg: (font-size: 7.625rem,
  // line-height: 1.07,
  // letter-spacing: -0.64px),
  // max: (font-size: 9.75rem,
  // line-height: 1.05,
  // letter-spacing: -0.96px))),
  // spacing-01: 0.125rem,
  // spacing-02: 0.25rem,
  // spacing-03: 0.5rem,
  // spacing-04: 0.75rem,
  // spacing-05: 1rem,
  // spacing-06: 1.5rem,
  // spacing-07: 2rem,
  // spacing-08: 2.5rem,
  // spacing-09: 3rem,
  // spacing-10: 4rem,
  // spacing-11: 5rem,
  // spacing-12: 6rem,
  // fluid-spacing-01: 0,
  // fluid-spacing-02: 2vw,
  // fluid-spacing-03: 5vw,
  // fluid-spacing-04: 10vw,
  // layout-01: 1rem,
  // layout-02: 1.5rem,
  // layout-03: 2rem,
  // layout-04: 3rem,
  // layout-05: 4rem,
  // layout-06: 6rem,
  // layout-07: 10rem,
  // container-01: 1.5rem,
  // container-02: 2rem,
  // container-03: 2.5rem,
  // container-04: 3rem,
  // container-05: 4rem,
  // icon-size-01: 1rem,
  // icon-size-02: 1.25rem,,,
);

$large-screen: 1100px;
$medium-screen: 800px;

$carbon--theme: map.merge($carbon--theme--g90, $customizations);
