/* You can add global styles to this file, and also import other style files */

@import './theme';
@include carbon--theme();
@import "~carbon-components/scss/globals/scss/styles.scss";
@import './code-snippet-theme';

h1, h2, h3 {
  margin-top: 1em;
}

p, ul {
  margin-top: .6em;
  &.bx--list--nested, &[role=menu] {
    margin-top: 0;
  }
}

a {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

$ui-01: map-get($carbon--theme, ui-01);
$text-01: map-get($carbon--theme, text-01);
$hover-ui: map-get($carbon--theme, hover-ui);
$brand-01: map-get($carbon--theme, brand-01);

// Apparently most of this will be fixed in June (2021). https://github.com/carbon-design-system/carbon/issues/4839
.bx--side-nav--ux {
  width: 0px;
}
.bx--side-nav--expanded.bx--side-nav--ux {
  width: 16rem;
}
.bx--header {
  border-bottom: 0;
}
a.bx--side-nav__link[aria-current=page]::before {
  background-color: $brand-01;
}
.bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false]::before {
  background-color: $brand-01;
}
.bx--side-nav {
  background-color: $ui-01;
  color: $text-01 !important;
}
.bx--side-nav__submenu, .bx--side-nav__link-text {
  color: $text-01 !important;
}
.bx--side-nav__link--current, .bx--side-nav__link[aria-current=page] {
  background-color: $hover-ui !important;
}
.bx--side-nav__item--active .bx--side-nav__submenu:hover {
  background-color: $hover-ui !important;
}
.bx--side-nav__item:not(.bx--side-nav__item--active) > .bx--side-nav__link:hover {
  background-color: $hover-ui;
}
.bx--side-nav__submenu:hover {
  background-color: $hover-ui;
}
.bx--side-nav__item--active .bx--side-nav__submenu-title {
  color: $text-01 !important;
}
.bx--side-nav__menu a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current=page]):hover {
  background-color: $hover-ui;
}
.bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false] {
  background-color: $hover-ui;
}
.bx--side-nav__item:not(.bx--side-nav__item--active) > .bx--side-nav__link:hover {
  color: $text-01;
}
.bx--side-nav__menu a.bx--side-nav__link[aria-current=page]:hover {
  color: $text-01;
}
.bx--side-nav__menu a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current=page]):hover {
  color: $text-01;
}
.bx--side-nav__footer {
  background-color: $ui-01;
}
.bx--form-item.bx--checkbox-wrapper:first-of-type {
  margin-top: 0;
}
