// See ./README.md

body {
  --large-screen: 1100px;
  --medium-screen: 800px;
  // Doesn't work yet. https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
  // Maybe will create ./_media-vars.scss for media query variables. For now, 1100px copy/pasted everywhere.
}

body.light-theme {
  --card-shadows: 0 0 10px #0004;
  --banner-border: 0;

  --code-bright-weight: bold;
  --code-dark-weight: 400;
  --code-inserted: #00ff8038;
  --code-deleted: #ff000038;
  --code-generic: #006768;

  --accent-01: #ff4500;
  --accent-02: #800080;
  --interactive-01: #00ced1;
  --interactive-01b: #4ddddf;
  --interactive-02: #393939;
  --interactive-03: #0f62fe;
  --interactive-04: #00ced1;
  --ui-background: #f4f4f4;
  --ui-01: #ffffff;
  --ui-01b: #fdfdfd;
  --ui-01c: #f4f4f4;
  --ui-01d: #fff;
  --ui-02: #f4f4f4;
  --ui-03: #e0e0e0;
  --ui-04: #8d8d8d;
  --ui-05: #161616;
  --text-01: #161616;
  --text-02: #525252;
  --text-03: #a8a8a8;
  --text-04: #ffffff;
  --text-05: #6f6f6f;
  --text-error: #da1e28;
  --icon-01: #161616;
  --icon-02: #525252;
  --icon-03: #ffffff;
  --link-01: #00ced1;
  --link-02: #0043ce;
  --inverse-link: #00ced1;
  --field-01: #ffffff;
  --field-02: #f4f4f4;
  --inverse-01: #ffffff;
  --inverse-02: #393939;
  --support-01: #da1e28;
  --support-02: #198038;
  --support-03: #f1c21b;
  --support-04: #0043ce;
  --inverse-support-01: #fa4d56;
  --inverse-support-02: #42be65;
  --inverse-support-03: #f1c21b;
  --inverse-support-04: #00ced1;
  --overlay-01: rgba(22, 22, 22, 0.7);
  --danger-01: #da1e28;
  --danger-02: #da1e28;
  --focus: #0f62fe;
  --inverse-focus-ui: #00ced1;
  --hover-primary: #00b9bc;
  --active-primary: #009092;
  --hover-primary-text: #0043ce;
  --hover-secondary: #4c4c4c;
  --active-secondary: #6f6f6f;
  --hover-tertiary: #0353e9;
  --active-tertiary: #002d9c;
  --hover-ui: #e5e5e5;
  --hover-light-ui: #e5e5e5;
  --active-ui: #c6c6c6;
  --active-light-ui: #c6c6c6;
  --selected-ui: #e0e0e0;
  --selected-light-ui: #e0e0e0;
  --inverse-hover-ui: #4c4c4c;
  --hover-selected-ui: #cacaca;
  --hover-danger: #b81921;
  --active-danger: #750e13;
  --hover-row: #e5e5e5;
  --visited-link: #8a3ffc;
  --disabled-01: #ffffff;
  --disabled-02: #c6c6c6;
  --disabled-03: #8d8d8d;
  --highlight: #d0e2ff;
  --decorative-01: #e0e0e0;
  --button-separator: #e0e0e0;
  --skeleton-01: #e5e5e5;
  --skeleton-02: #c6c6c6;
  --brand-01: #00ced1;
  --brand-02: #393939;
  --brand-03: #0f62fe;
  --active-01: #c6c6c6;
  --hover-field: #e5e5e5;
  --danger: #da1e28;
}
body.dark-theme {
  --card-shadows: 0 0 10px #0008;
  --banner-border: 0px solid var(--accent-01);

  --code-bright-weight: 400;
  --code-dark-weight: bold;
  --code-inserted: #00ff801a;
  --code-deleted: #ff00001a;
  --code-generic: #7fe6e8;

  --accent-01: #ff4500;
  --accent-02: #800080;
  --interactive-01: #00ced1;
  --interactive-01b: #4ddddf;
  --interactive-02: #6f6f6f;
  --interactive-03: #ffffff;
  --interactive-04: #00ced1;
  --ui-background: #262626;
  --ui-01: #393939;
  --ui-01b: #1a1a1a;
  --ui-01c: #202020;
  --ui-01d: #262626;
  // --ui-01c: #330d0044;
  // --ui-01d: #002929;
  --ui-02: #525252;
  --ui-03: #525252;
  --ui-04: #8d8d8d;
  --ui-05: #f4f4f4;
  --text-01: #f4f4f4;
  --text-02: #c6c6c6;
  --text-03: #6f6f6f;
  --text-04: #ffffff;
  --text-05: #8d8d8d;
  --text-error: #ffb3b8;
  --icon-01: #f4f4f4;
  --icon-02: #c6c6c6;
  --icon-03: #ffffff;
  --link-01: #00ced1;
  --link-02: #a6c8ff;
  --inverse-link: #00ced1;
  --field-01: #393939;
  --field-02: #525252;
  --inverse-01: #161616;
  --inverse-02: #f4f4f4;
  --support-01: #ff8389;
  --support-02: #42be65;
  --support-03: #f1c21b;
  --support-04: #4589ff;
  --inverse-support-01: #da1e28;
  --inverse-support-02: #24a148;
  --inverse-support-03: #f1c21b;
  --inverse-support-04: #00ced1;
  --overlay-01: rgba(22, 22, 22, 0.7);
  --danger-01: #da1e28;
  --danger-02: #ff8389;
  --focus: #ffffff;
  --inverse-focus-ui: #00ced1;
  --hover-primary: #00b9bc;
  --active-primary: #009092;
  --hover-primary-text: #a6c8ff;
  --hover-secondary: #606060;
  --active-secondary: #393939;
  --hover-tertiary: #f4f4f4;
  --active-tertiary: #c6c6c6;
  --hover-ui: #4c4c4c;
  --hover-light-ui: #656565;
  --active-ui: #6f6f6f;
  --active-light-ui: #8d8d8d;
  --selected-ui: #525252;
  --selected-light-ui: #6f6f6f;
  --inverse-hover-ui: #e5e5e5;
  --hover-selected-ui: #656565;
  --hover-danger: #b81921;
  --active-danger: #750e13;
  --hover-row: #4c4c4c;
  --visited-link: #be95ff;
  --disabled-01: #393939;
  --disabled-02: #6f6f6f;
  --disabled-03: #a8a8a8;
  --highlight: #0043ce;
  --decorative-01: #6f6f6f;
  --button-separator: #161616;
  --skeleton-01: #353535;
  --skeleton-02: #525252;
  --brand-01: #00ced1;
  --brand-02: #6f6f6f;
  --brand-03: #ffffff;
  --active-01: #6f6f6f;
  --hover-field: #4c4c4c;
  --danger: #da1e28;
}
